<script type="text/javascript">
        $(document).ready(function () {

            LoadInitialItemCategories();

            LoadInitialItems();

            $(".quick-reservation-container").on('change', '.item-types-ddl', function () {
                LoadItemsFromSelectedCategory(this.value);
            });

            $(".quick-reservation-container").on('click', '.res-submit', function () {
                CheckItemAvailability();
            });

            $(".quick-reservation-container").on('click', '.reservation-back-btn', function () {
                $(".reservation-view-loading").hide();
                $(".reservation-view-notAvailableItem").hide();
                $(".reservation-view-check").show();
            });

            $(".quick-reservation-container").on('click', '.confirm-reservation-submit', function () {
                ConfirmReservation();
            });
        });

        function LoadInitialItemCategories() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetInitialItemCategories", "QuickReservations")',
                beforeSend: function () {
                    // Initialize loading if needed
                },
                success: function (itemCategories) {
                    if (itemCategories.length > 0) {
                        var optionsToApped;
                        for (var i = 0; i < itemCategories.length; i++) {
                            var currentOption = '<option value="' + itemCategories[i].Value + '">' + itemCategories[i].Text + '</option>';
                            optionsToApped += currentOption;
                        }
                        $(".item-types-ddl").empty().append(optionsToApped).selectOrDie("update");
                    } else {
                        // DO something when there are no items in that category
                    }
                },
                error: function (ex) {
                    console.log('Неуспешно листване на категориите! Моля свържете се с администратор!' + ex);
                }
            });
            return false;
        }

        function LoadInitialItems() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetInitialItems", "QuickReservations")',
                beforeSend: function () {
                    // Initialize loading if needed
                },
                success: function (items) {
                    if (items.length > 0) {
                        var optionsToApped;
                        var isSelected;
                        var currentUrl = window.location.href;
                        var itemId;
                        if (currentUrl.indexOf('Items')) {
                            var urlArray = currentUrl.split('/');
                            itemId = urlArray[urlArray.length - 1];
                        }
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].Value == itemId) {
                                isSelected = "selected=\"selected\"";
                            }
                            var currentOption = '<option '+ isSelected +' value="' + items[i].Value + '">' + items[i].Text + '</option>';
                            optionsToApped += currentOption;
                            isSelected = "";
                        }
                        $(".items-ddl").empty().append(optionsToApped).selectOrDie("update");
                    } else {
                        // DO something when there are no items in that category
                    }
                },
                error: function (ex) {
                    console.log('Неуспешно листване на продуктите! Моля свържете се с администратор!' + ex);
                }
            });
            return false;
        }

        function LoadItemsFromSelectedCategory(selectedCategoryId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetItemsFromSelectedCategory", "QuickReservations")',
                dataType: 'json',
                data: { id: selectedCategoryId },
                beforeSend: function () {
                    $(".dab-items-loading").show();
                },
                success: function (items) {
                    console.log("Loading items from category ...");
                    $(".dab-items-loading").hide();
                    if (items.length > 0) {
                        var optionsToApped;
                        var isSelected;
                        var currentUrl = window.location.href;
                        var itemId;
                        if (currentUrl.indexOf('Items')) {
                            var urlArray = currentUrl.split('/');
                            itemId = urlArray[urlArray.length - 1];
                        }
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].Value == itemId) {
                                isSelected = "selected=\"selected\"";
                            }
                            var currentOption = '<option value="' + items[i].Value + '">' + items[i].Text + '</option>';
                            optionsToApped += currentOption;
                            isSelected = "";
                        }
                        $(".items-ddl").empty().append(optionsToApped).selectOrDie("update");
                    } else {
                        // DO something when there are no items in that category
                    }
                },
                error: function (ex) {
                    console.log('Неуспешно листване на продуктите! Моля свържете се с администратор!' + ex);
                }
            });
            return false;
        }

    function CheckItemAvailability() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CheckItemAvailability", "QuickReservations")',
            dataType: 'json',
            data: $('#ajax-reservation-form').serialize(),
            beforeSend: function () {
                $(".reservation-view-check").hide();
                $(".reservation-view-loading").show();

            },
            success: function (isAvailable) {
                console.log(isAvailable);
                if (isAvailable) {
                    $(".reservation-view-loading").hide();
                    $(".reservation-view-confirm").show();
                } else {
                    $(".reservation-view-loading").hide();
                    $(".reservation-view-notAvailableItem").show();
                }
            },
            error: function (ex) {
                console.log('Неуспешна проверка дали продуктта е свободна! Моля свържете се с администратор!' + ex);
            }

        });

        return false;
    }

    function ConfirmReservation() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ConfirmReservation", "QuickReservations")',
            dataType: 'json',
            data: $('#ajax-reservation-form').serialize(),
            beforeSend: function () {
                $(".reservation-view-confirm").hide();
                $(".reservation-view-check").hide();
                $(".reservation-view-notAvailableItem").hide();
                $(".reservation-view-loading").show();

            },
            success: function (status) {
                console.log(status);
                switch (status.status) {
                    case "success":
                        console.log(status.status);
                        $(".reservation-view-loading").hide();
                        $(".reservation-view-success").show();
                        break;
                    case "invalidModel":
                        console.log(status.status);
                        $(".reservation-view-loading").hide();
                        $(".reservation-view-confirm").show();
                        $(".confirm-validation-label").show();
                        break;
                    case "errorCreatingReservation":
                        console.log(status.status);
                        break;
                    default:

                }
            },
            error: function (ex) {
                console.log('Неуспешно потвърждаване на резервацията! Моля свържете се с администратор!' + ex)
            }

        });

        return false;
    }

</script>