@model App.Web.Models.ItemDetailsViewModel

<div class="breadcrumb breadcrumb-1 pos-center">
    <h1 class="title-uppercase">@Model.TheItem.Name</h1>
</div>
<div class="content">
    <!-- Content Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Item Gallery Slider -->
                <div class="item-gallery">
                    <div class="margint40 marginb20"><h4>СНИМКИ НА СТАЯТА</h4></div>
                    <div class="flexslider-thumb falsenav">
                        <ul class="slides">
                            @if (Model.TheItem.Images != null)
                            {
                                foreach (var Image in Model.TheItem.Images)
                                {
                                    string thumbUrl = Image.ImagePath + "_detailsSmallThumb.jpg";
                                    string bigImgUrl = Image.ImagePath + "_large.jpg";
                                    <li data-thumb="/@thumbUrl"><img alt="@Model.TheItem.Name" class="img-responsive" src="/@bigImgUrl" /></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 clearfix">
                <!-- Item Information -->
                <div class="col-lg-8 clearfix col-sm-8">
                    <h4>ОПИСАНИЕ НА СТАЯТА</h4>
                    <p>@Html.Raw(Model.TheItem.Description) </p>
                </div>
                <div class="col-lg-4 clearfix col-sm-4">
                    <div class="item-services">
                        <!-- Item Services -->
                        <h4>УДОБСТВА</h4>
                        <ul class="item-services">
                            @if (Model.TheItem.ItemFeature != null)
                            {
                                foreach (var ItemFeature in Model.TheItem.ItemFeature)
                                {
                                    <li><i class="@ItemFeature.IconName"></i> @ItemFeature.Name </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 clearfix">
                    <h4>ДРУГИ ПОДОБНИ СТАЙ</h4>
                    @if (Model.SimilarItems != null)
                    {
                        @Html.Partial("~/Views/Home/Partials/_HomeFeaturedItems.cshtml", Model.SimilarItems)
                    }
                </div>
            </div>
            <div class="col-lg-3 clearfix">
                @Html.Partial("~/Views/Shared/_Sidebar.cshtml");
                @section scripts { @Html.Partial("~/Views/Shared/_QuickReservationScripts.cshtml") }
            </div>
        </div>
    </div>
</div>